In [200]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib as plt
df=pd.read_csv('C:\\Users\\Juhi.Agarwal\\Python\\AnalyticsVidhya\\train_u6lujuX_CVtuZ9i.csv')
#dfT=pd.read_csv('C:\\Users\\Juhi.Agarwal\\Python\\AnalyticsVidhya\\test_Y3wMUE5_7gLdaTN.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [201]:
#gives the description of numeric cols
des=df.describe()
print(des)
print("  ")
#total count of all the cols removing the NAs
cnt=df.count(axis=0)
print(cnt)

       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count       614.000000         614.000000  592.000000         600.00000
mean       5403.459283        1621.245798  146.412162         342.00000
std        6109.041673        2926.248369   85.587325          65.12041
min         150.000000           0.000000    9.000000          12.00000
25%        2877.500000           0.000000  100.000000         360.00000
50%        3812.500000        1188.500000  128.000000         360.00000
75%        5795.000000        2297.250000  168.000000         360.00000
max       81000.000000       41667.000000  700.000000         480.00000

       Credit_History
count      564.000000
mean         0.842199
std          0.364878
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000

Loan_ID              614
Gender               601
Married              611
Dependents           599
Education            614
Self_Employed        582
ApplicantIncome      614
CoapplicantIncome    614
LoanAmount           592
Loan_Amount_Term     600
Credit_History       564
Property_Area        614
Loan_Status          614
dtype: int64

In [202]:
#STEP1:checking for responders and non responders
pd.value_counts(df["Loan_Status"]=='Y')

True     422
False    192
Name: Loan_Status, dtype: int64

In [203]:
#STEP2: DATA CLEANSING
#saved a csv file with data types and assigning those to the df col becasue we see that loan status is type but it should be categorical
colTypes = pd.read_csv('C:\\Users\\Juhi.Agarwal\\Downloads\\datatypes.csv')
for i,row in colTypes.iterrows():
    if row['type']=='categorical':
        df[row['feature']]=df[row['feature']].astype(np.object)
    elif row['type']=='continuous':
        df[row['feature']]=df[row['feature']].astype(np.float)
print(df.dtypes)

print("  ")

#check the missing values

'''def missing_num(x):
    return sum(x.isnull())

print("missing values")
print(df.apply(missing_num,axis=0))'''

print("missing values")
print(df.apply(lambda x: sum(x.isnull()),axis=0))
print("  ")
        
##categorising between numeric and categorical columns
#getting columns 
cols=df.columns
#print(cols)
num_cols = df._get_numeric_data().columns#grtting numeric columns
print("num_cols: " + str(num_cols))
cat_cols=list(set(cols) - set(num_cols))
print("cat_cols: "+ str(cat_cols))

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome      float64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History        object
Property_Area         object
Loan_Status           object
dtype: object

missing values
Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

num_cols: Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term'],
      dtype='object')
cat_cols: ['Married', 'Education', 'Loan_ID', 'Gender', 'Self_Employed', 'Credit_History', 'Dependents', 'Property_Area', 'Loan_Status']

In [204]:
#calculating different percentiles for continuos variables to check outliers
dfP=df.quantile([.1,.5,.75,.9,.99,1])
path='C:\\Users\\Juhi.Agarwal\\Python\\To_be_sent\\'
dfP.to_csv(path+'PlaceHolder.csv')
#CoapplicantIncome seems to have outliers

In [205]:
#STEP 2C:a)removing outliers from continuous vars
#df1.apply(lambda x: x.clip_upper(np.percentile(x, 99)))
for col in df.columns:
    if col=='CoapplicantIncome':
        percentiles = df[col].quantile([0.01,0.99]).values
        df[col][df[col] <= percentiles[0]] = percentiles[0]
        df[col][df[col] >= percentiles[1]] = percentiles[1]

#df.quantile([.1,.5,.75,.9,.99,1])

#STEP 2C:b) Removing the nulls from the continuous vars
df['LoanAmount'].fillna(df['LoanAmount'].mean(), inplace=True)
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean(), inplace=True)

C:\Users\Juhi.Agarwal\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Juhi.Agarwal\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [206]:
#STEP 2A: Removing nulls from categorical vars
df['Self_Employed'].value_counts()
df['Self_Employed'].fillna('No',inplace=True)
#other method on the basis of self_employed and Education
'''table = df.pivot_table(values='LoanAmount', index='Self_Employed' ,columns='Education', aggfunc=np.median)
print(table)
def fage(x):
    return table.loc[x['Self_Employed'],x['Education']]

df['LoanAmount'].fillna(df[df['LoanAmount'].isnull()].apply(fage, axis=1), inplace=True)'''
#df['Dependents'].value_counts()
df['Dependents'].fillna(0,inplace=True)
df['Married'].fillna('Yes',inplace=True)

In [207]:
df['TotalIncome'] = df['ApplicantIncome'] + df['CoapplicantIncome']

In [208]:
#removing nulls from married col
def Gen(x):
    if x['Married']=='Yes':
        gender1='Male'
    else:
        gender1='Female'
    return gender1
df['Gender'].fillna(df[df['Gender'].isnull()].apply(Gen, axis=1),inplace=True)

In [209]:
#removing nulls from Credit history col

Credit_grps= df.pivot_table(values=["Credit_History"], index=["Gender","Married","Education","Self_Employed"], aggfunc='sum')
#print(Credit_grps)

def CreditH(x):
    if x['Education']=='Graduate':
        credit=1
    else:
        credit=0
    return credit
    
df['Credit_History'].fillna(df[df['Credit_History'].isnull()].apply(CreditH, axis=1),inplace=True)

In [210]:
    print(df.apply(lambda x: sum(x.isnull()),axis=0))

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
TotalIncome          0
dtype: int64

In [185]:
path='C:\\Users\\Juhi.Agarwal\\Python\\To_be_sent\\'
df.to_csv(path+'treateddate.csv')

In [211]:
#STEP2B
LabelEncoding={"Gender":{"Male":0,"Female":1},"Married":{"No":0,"Yes":1},"Dependents":{"0":0,"1":1,"2":2,"3+":3},"Education":{"Graduate":1,"Not Graduate":0},"Self_Employed":{"No":0,"Yes":1},"Property_Area":{"Urban":1,"Rural":0,"Semiurban":2},"Loan_Status":{"No":0,"Yes":1}}
df.replace(LabelEncoding,inplace=True)
#path='C:\\Users\\Juhi.Agarwal\\Python\\To_be_sent\\'
#df.to_csv(path+'treateddate.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,TotalIncome
0,LP001002,0,0,0,1,0,5849.0,0.0,146.412162,360.0,1.0,1,Y,5849.0
1,LP001003,0,1,1,1,0,4583.0,1508.0,128.000000,360.0,1.0,0,N,6091.0
2,LP001005,0,1,0,1,1,3000.0,0.0,66.000000,360.0,1.0,1,Y,3000.0
3,LP001006,0,1,0,0,0,2583.0,2358.0,120.000000,360.0,1.0,1,Y,4941.0
4,LP001008,0,0,0,1,0,6000.0,0.0,141.000000,360.0,1.0,1,Y,6000.0

In [214]:
#Import models from scikit learn module:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import KFold   #For K-fold cross validation
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics

In [193]:
#for Test file
for i,row in colTypes.iterrows():
    if row['type']=='categorical':
        dfT[row['feature']]=dfT[row['feature']].astype(np.object)
    elif row['type']=='continuous':
        dfT[row['feature']]=dfT[row['feature']].astype(np.float)
#print(dfT.dtypes)
for col in dfT.columns:
    if col=='CoapplicantIncome':
        percentiles = dfT[col].quantile([0.01,0.99]).values
        dfT[col][dfT[col] <= percentiles[0]] = percentiles[0]
        dfT[col][dfT[col] >= percentiles[1]] = percentiles[1]
        
        
dfT['LoanAmount'].fillna(dfT['LoanAmount'].mean(), inplace=True)
dfT['Loan_Amount_Term'].fillna(dfT['Loan_Amount_Term'].mean(), inplace=True)

#dfT['Self_Employed'].value_counts()
dfT['Self_Employed'].fillna('No',inplace=True)
dfT['Dependents'].fillna(0,inplace=True)
dfT['Married'].fillna('Yes',inplace=True)

C:\Users\Juhi.Agarwal\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Juhi.Agarwal\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [194]:
dfT['TotalIncome'] = dfT['ApplicantIncome'] + dfT['CoapplicantIncome']

In [195]:
dfT['Gender'].fillna(dfT[dfT['Gender'].isnull()].apply(Gen, axis=1),inplace=True)
dfT['Credit_History'].fillna(dfT[dfT['Credit_History'].isnull()].apply(CreditH, axis=1),inplace=True)
dfT.replace(LabelEncoding,inplace=True)

In [215]:


#Generic function for making a classification model and accessing performance:
def classification_model(model,data,predictors,outcome):
    #fit the model:
    model.fit(data[predictors],data[outcome])
    
    #make predictions on the training data set
    predictions=model.predict(data[predictors])
    
    #print accuracy
    accuracy = metrics.accuracy_score(predictions,data[outcome])
    print("Accuracy : %s" % "{0:.3%}".format(accuracy))
    
    #Perform k-fold cross-validation with 5 folds
    kf = KFold(data.shape[0], n_folds=5)
    error=[]
    
    for train, test in kf:
        # Filter training data
        train_predictors = (data[predictors].iloc[train,:])
        
        # The target we're using to train the algorithm.
        train_target = data[outcome].iloc[train]
        
        # Training the algorithm using the predictors and target.
        model.fir(data[train_predictors],train_target)
        
        #Record error from each cross-validation run
        error.append(model.score(data[predictors].iloc[test,:], data[outcome].iloc[test]))
#print("Cross-Validation Score : %s" % "{0:.3%}".format(np.mean(error)))
model.fit(data[predictors],data[outcome]) 
    
    

outcome_var = 'Loan_Status'
model = LogisticRegression()
predictor_var = ['Credit_History']
classification_model(model, df,predictor_var,outcome_var)
##getting an error above

NameError: name 'model' is not defined